/* center top nav */
.topnav{
    margin: auto;
    text-align: center;
    width: auto;
    font-size: 350%;
    background-color: rgb(206, 178, 103);
}

/* color top nav for regular and hover use */
.topnav a {
    color: white;
}
.topnav a:hover {
    color: orange; 
}

/* Format heading tags */
h1{
    text-align: center;
    font-size: 300%;
    color: black;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(233, 185, 55);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}
h2{
    text-align: center;
    font-size: 200%;
    color: black;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(212, 178, 82);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}
h3{
    text-align: center;
    font-size: 150%;
    color: black;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(233, 185, 55);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}


/* Add image to background */
body{
    background-image: url('spices.jpg')
}

/* Format flag image */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
