/* center top nav */
.topnav{
    margin: auto;
    text-align: center;
    width: auto;
    font-size: 350%;
    background-color: rgb(206, 178, 103);
}

/* color top nav for regular and hover use */
.topnav a {
    color: white;
}
.topnav a:hover {
    color: orange; 
}

/* Format heading tags */
h1{
    text-align: center;
    font-size: 300%;
    color: black;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(233, 185, 55);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}
h2{
    text-align: center;
    font-size: 300%;
    color: black;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(233, 185, 55);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}
h3{
    text-align: center;
    font-size: 150%;
    color: black;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(233, 185, 55);
}

/* Add image to background */
body{
    background-image: url('spices.jpg')
}

/* Format paragraph tag */
p{
    text-align: center;
    font-size: 350%;
    color: black;
}

/* Create two Columns and add margin */
.row {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.column {
    float: left;
    width: 50%;
    background-color: rgb(233, 185, 55);
    margin-left: 5;
    margin-right: 5;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Format Table */
table, th, td {
    border: 1px solid black;
    font-size: 20;
}
table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
th{
    text-transform: uppercase;
}
tr:hover{
    background-color: burlywood;
}
/* Format Footer */
footer{
    position:absolute;
    bottom:0;
    text-align: center;
    color: black;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}