/* center top nav */
.topnav{
    margin: auto;
    text-align: center;
    width: auto;
    font-size: 350%;
    background-color: rgb(206, 178, 103);
}

/* color top nav for regular and hover use */
.topnav a {
    color: white;
}
.topnav a:hover {
    color: orange; 
}

/* Format heading tags */
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 300%;
    color: black;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(233, 185, 55);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;


}
h2{
    text-align: center;
    font-size: 300%;
    color: black;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(233, 185, 55);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}
h3{
    text-align: center;
    font-size: 150%;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 0%;
    background-color: rgb(233, 185, 55);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    position:relative;
    margin-top: 50%;
}

h4{
    text-align: center;
    font-size: 150%;
    color: black;
}

/* Format paragraph tag */
p{
    text-align: left;
    font-size: 100%;
    color: black;
    margin-left: 5%;

}

/* Add image to background */
body{
    background-image: url('spices.jpg')
}

/* Create Recipe Cards */
.container{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
.box{

    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box a{
    display: block;
    height: 100%;
}
.box:hover{
    z-index: 2;
}

/* Add Effects to Recipe Cards */
.first{
    background-color: rgb(133, 102, 16);
    z-index: 1;
}
.second{
    top: 50px;
    left: 50px;
    background-color: rgb(212, 178, 82);


}
.third{
    top: 120px;
    left: 120px;   
    background-color: rgb(228, 208, 152);
}

/* Format Recipe Card Text */
.recipeText{
    float: left;
    width: 50%;
}

.recipeText h1{
    color: black;
}

/* Format Recipe Card Images */
img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    float: right;
}

/* Format Footer */
footer{
    padding-top: 3%;
    text-align: center;
    color: black;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}