.topnav{
    margin: auto;
    text-align: center;
    width: auto;
    font-size: 350%;
    background-color: rgb(206, 178, 103);
}

.topnav a {
    color: white;
}
.topnav a:hover {
    color: orange; 
}

h1{
    text-align: center;
    font-size: 300%;
    color: black;
    border:black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgb(233, 185, 55);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}
h2{
    text-align: center;
    font-size: 200%;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 0%;
    background-color: rgb(233, 185, 55);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
h3{
    text-align: center;
    font-size: 150%;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 0%;
    background-color: rgb(233, 185, 55);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    position:relative;
    margin-top: 50%;
}

h4{
    text-align: center;
    font-size: 150%;
    color: black;
}

p{
    text-align: left;
    font-size: 100%;
    color: black;
    margin-left: 5%;

}

body{
    background-image: url('spices.jpg')
}
.container{
    position: relative;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.box{

    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box a{
    display: block;
    height: 100%;
}
.box:hover{
    z-index: 2;
}

.recipeText{
    float: left;
    width: 50%;
}

.recipeText h1{
    color: black;
}

.first{
    background-color: rgb(133, 102, 16);
}

.second{
    top: 50px;
    left: 50px;
    background-color: rgb(212, 178, 82);


}
.third{
    top: 120px;
    left: 120px;   
    background-color: rgb(228, 208, 152);

    z-index: 1;
}

img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    float: right;
}

footer{
    position:absolute;
    bottom:0;
    text-align: center;
    color: black;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
   }