create a series of linking web pages
at least three webpages(might need 5)
css and html only
comment your style sheet
put style in separate files and use tages
have alternate text for images
diplay lst modified info on pages

each page needs a nav menu at top
when hover over a button must highlight in someway
three buttons should go to home, recipes and nutrition

main page should welcome and display an image 
image should have 3 clickable areas that link to the relevant wiki pageadd a background image to each of your webpages 


ensure text and images are centered and easily visible against background
elements should be separate to be more visible


recipes page should have at least three recipe boxes that partially overlap each other 
at any time pzrt of the recipe should be visible
when hover it should be brough to the front 
when clicked it should be brought to to the front as the default box 

